pyvis
datasets==2.7.1
transformers==4.24.0
# scikit-learning==0.24.2
sentence_transformers==2.2.2
pytorch-lightning
matplotlib
tqdm==4.64.1
sacrebleu
line_profiler
torch==1.13.1
pyarrow==10.0.1
numpy==2.2.6
huggingface_hub==0.10.1